<h1>Hello Ask here!</h1>

<form action="/answer" method="get">
<label for="question">Question</label>
<input type="input", name="question", id="question", placeholder="What is...?">
<input type="submit">
</form>
